@font-face {
  font-family: 'CircularStd';
  font-weight: 400;
  font-style: normal;
  src: url("/../../CircularStd-Black.otf") format("otf"), url("/../../fonts/CircularStd-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'CircularStd';
  font-weight: 400;
  font-style: italic;
  src: url("/../../CircularStd-MediumItalic.otf") format("otf"), url("/../../CircularStd-MediumItalic.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'CircularStd';
  font-weight: 700;
  font-style: normal;
  src: url("/../../CircularStd-Bold.otf") format("otf"), url("/../../CircularStd-Bold.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  font-family: 'CircularStd', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.icon-daeng {
  font-size: 2em;
  font-weight: 500;
}

.works-text {
  font-size: 3.5em;
}

.upi-text {
  color: red;
}

.upi-text:hover {
  color: white;
  background-color: red;
  text-decoration: none;
}

.cashbac-text {
  color: #26ade4;
}

.cashbac-text:hover {
  color: white;
  background-color: #26ade4;
  text-decoration: none;
}

.labtekindie-text {
  color: #e5007e;
}

.labtekindie-text:hover {
  color: white;
  background-color: #e5007e;
  text-decoration: none;
}

.map-text {
  color: #ed7b30;
}

.map-text:hover {
  color: white;
  background-color: #ed7b30;
  text-decoration: none;
}

.talks-text {
  font-size: 1.5em;
}

.bigtext {
  font-size: 5em;
  margin-top: 24px;
  margin-bottom: 24px;
  animation: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.5s 1 normal backwards running fadeInBottom;
}

.bigtext1 {
  font-size: 3.5em;
}

.bigtext2 {
  font-size: 2em;
}

.bigtext3 {
  font-size: 2em;
  font-weight: 200;
}

.paragraph1 {
  font-size: 1.1em;
  line-height: 1.4em;
}

.headertext {
  font-size: 18px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

.headertext:hover {
  font-size: 18px;
  font-weight: 500;
  color: inherit;
  text-decoration: underline;
}

.headertext:active {
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-decoration: underline;
}

.footertext {
  font-size: 18px;
  font-weight: 500;
  color: inherit;
  text-decoration: 'none';
}

.footertext:hover {
  font-size: 18px;
  font-weight: 500;
  color: inherit;
  text-decoration: underline;
}

.cta1 {
  appearance: button;
  height: 52px;
  border-radius: 10px;
  border-width: 0;
  padding: 16px;
  margin-right: 24px;
  font-weight: 700;;
}

.cta1:hover {
  background-color: #ffe500;
}

.cta-behance {
  appearance: button;
  height: 52px;
  border-radius: 10px;
  border-width: 0;
  padding: 16px;
  margin-right: 24px;
  font-weight: 700;;
}

.cta-behance:hover {
  background-color: #0057ff;
  color: white;
}

.cta-dribbble {
  appearance: button;
  height: 52px;
  border-radius: 10px;
  border-width: 0;
  padding: 16px;
  margin-right: 24px;
  font-weight: 700;;
}

.cta-dribbble:hover {
  background-color: #ea4c89;
  color: white;
}



